@use "functions";

// Background colors
$background-light: hsl(  0,   0%,  99%);
$background-dark:  hsl(  0,   0%,  13%);

// Color for light and dark
$colors-light: (
    red:     hsl(  3,  50%,  50%),
    orange:  hsl( 28,  78%,  50%),
    yellow:  hsl( 46, 100%,  50%),
    green:   hsl(123,  33%,  50%),
    cyan:    hsl(189,  48%,  50%),
    blue:    hsl(210,  75%,  50%),
    magenta: hsl(283,  23%,  50%),
    pink:    hsl(352,  76%,  80%),
    gray:    hsl(  0,   0%,  50%)
);

$colors-dark: (
    red:     hsl(  3,  50%,  30%),
    orange:  hsl( 28,  78%,  30%),
    yellow:  hsl( 46, 100%,  30%),
    green:   hsl(123,  33%,  30%),
    cyan:    hsl(189,  48%,  30%),
    blue:    hsl(210,  75%,  30%),
    magenta: hsl(283,  23%,  30%),
    pink:    hsl(352,  76%,  70%),
    gray:    hsl(  0,   0%,  30%)
);